:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 960px;
  --main-width: 720px;
  --post-width: 720px;
  --header-height: 60px;
  --footer-height: 80px;
  --radius: 8px;
  --theme: #ffffff;
  --entry: #ffffff;
  --primary: #1e1e1e;
  --secondary: #6c6c6c;
  --tertiary: #9e9e9e;
  --tertiary-bg: #d6d6d6;
  --content: #1f1f1f;
  --code-bg: #EDEFF3;
  --border: #eeeeee;
  --link-background-color: #e8e3f7;
  --link-color: var(--primary);
  --link-hover-color: #573eaa;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #6549c0;
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --link-transition: all 0.3s ease;
}
.dark {
  --theme: #1d1e20;
  --entry: #2e2e33;
  --primary: #dadadb;
  --secondary: #9b9c9d;
  --tertiary: #7b7c7c;
  --tertiary-bg: #414244;
  --content: #c4c4c5;
  --code-bg: #37383e;
  --border: #333333;
  --link-background-color: #5242746d;
  --link-color: var(--primary);
  --link-hover-color: #876fd6;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}
.list {
  background: #F5F5F5;
}
.dark.list {
  background: var(--theme);
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}
a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 16px;
  line-height: 1.6em;
  word-break: break-word;
  background: var(--theme);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
table {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
body,
figure {
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
  word-break: keep-all;
}
button,
input,
textarea {
  padding: 0;
  font: inherit;
  background: 0 0;
  border: 0;
}
input,
textarea {
  outline: 0;
}
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 50px var(--theme) inset;
}
img {
  display: block;
  max-width: 100%;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
.list:not(.dark)::-webkit-scrollbar-track {
  background: var(--code-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--tertiary-bg);
  border: 5px solid var(--theme);
  border-radius: var(--radius);
}
.list:not(.dark)::-webkit-scrollbar-thumb {
  border: 5px solid var(--code-bg);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  line-height: var(--header-height);
}
.nav ul {
  margin: 0;
  padding: 0;
}
.logo a {
  display: block;
}
.logo,
#menu {
  display: flex;
  margin: auto var(--gap);
}
.logo {
  flex-wrap: inherit;
}
.logo a {
  font-size: 24px;
  font-weight: 700;
}
.logo a img {
  width: 30px;
  height: 30px;
  display: inline;
  vertical-align: middle;
  pointer-events: none;
  transform: translate(0, -10%);
  border-radius: 6px;
  margin-inline-end: 8px;
  image-rendering: -webkit-optimize-contrast;
}
#theme-toggle i {
  height: 18px;
}
button#theme-toggle {
  font-size: 26px;
  margin: auto 4px;
}
body.dark #moon {
  vertical-align: middle;
  display: none;
}
body:not(.dark) #sun {
  display: none;
}
#menu {
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}
#menu li + li {
  margin-inline-start: var(--gap);
}
#menu a {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary);
  display: inline-block;
  line-height: 1.5em;
}
#menu a:hover {
  color: var(--primary);
}
#menu .active {
  color: var(--primary);
  box-shadow: 0 2px 0 var(--primary) !important;
}
#menu .external-link {
  position: relative;
}
#menu .external-link svg {
  width: 13px;
  height: auto;
  position: relative;
  top: 1px;
  margin-left: 3px;
}
.logo-switches {
  display: inline-flex;
  margin: auto 4px;
}
.logo-switches {
  flex-wrap: inherit;
}
/* for home and other pages */
.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
  padding-bottom: 0;
}
.social-text {
  font-size: 16px;
}
.social-icons {
  padding: 12px 0;
  display: flex;
}
.social-icon {
  margin-right: 16px;
}
.social-icons a {
  display: inline-block;
  line-height: 28px;
  transition: var(--link-transition);
}
.social-icons a:not(:last-of-type) {
  margin-right: 12px;
}
.social-icons .social-icon i::before {
  height: 24px;
  width: 24px;
}
.social-icons a:hover {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
}
.first-entry {
  position: relative;
  min-height: 320px;
  margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}
.first-entry .entry-header {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: var(--gap) 0 calc(var(--gap) * 2);
}
.first-entry .entry-header h1 {
  font-size: 34px;
  line-height: 1.3;
}
@media screen and (max-width: 400px) {
  .first-entry .entry-header h1 {
    font-size: 30px;
  }
}
.first-entry .entry-content {
  margin: 14px 0;
  font-size: 16px;
  color: var(--primary);
  line-height: 1.5em;
  display: block;
}
.first-entry .entry-content p,
.first-entry .entry-content li {
  margin-bottom: 0.8em;
}
.first-entry .entry-footer {
  font-size: 18px;
}
.home-info .entry-content {
  -webkit-line-clamp: unset;
}
/* for post page */
.main.post {
  max-width: calc(var(--post-width) + var(--gap) * 2);
}
.page-header h1 {
  font-size: 40px;
}
.pagination {
  display: flex;
}
.pagination a {
  color: var(--theme);
  font-size: 13px;
  line-height: 36px;
  background: var(--primary);
  border-radius: calc(36px / 2);
  padding: 0 16px;
}
.pagination .next {
  margin-inline-start: auto;
}
.post-entry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  border: 1px solid var(--border);
}
.post-entry:hover .entry-header h2 {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
}
.post-entry .entry-header a:hover {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
  transition: 0.5;
}
/* .post-entry:active {
    transform: scale(0.97);
} */
.tag-entry .entry-cover {
  display: none;
}
.entry-header h2 {
  font-size: 24px;
  line-height: 1.3;
  transition: var(--link-transition);
  display: inline-block;
}
.entry-content {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.post-tags:hover {
  color: var(--link-hover-color);
}
.entry-footer,
.entry-footer span > a {
  color: var(--secondary);
  font-size: 13px;
}
.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.entry-cover,
.entry-isdraft {
  font-size: 14px;
  color: var(--secondary);
}
.entry-cover {
  margin-bottom: var(--gap);
  text-align: center;
}
.entry-cover img {
  border-radius: var(--radius);
  width: 100%;
  height: auto;
}
.entry-cover a {
  color: var(--secondary);
  box-shadow: 0 1px 0 var(--primary);
}
.entry-content .btn {
  display: flex;
  margin-inline-start: auto;
}
.entry-content button a {
  color: var(--theme);
  font-size: 13px;
  line-height: 36px;
  background: var(--primary);
  border-radius: calc(36px/2);
  padding: 0 16px;
}
/* button 2 */
.readmore {
  width: 100%;
  text-align: right;
}
.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/
.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/
#shape {
  stroke-width: 5px;
  fill: transparent;
  stroke: var(--secondary);
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/
#text {
  margin-top: -32px;
  text-align: center;
}
#text a {
  color: var(--primary);
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: var(--primary);
}
.footer,
.top-link {
  font-size: 14px;
  color: var(--secondary);
}
.footer {
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
  text-align: center;
  line-height: 24px;
}
.footer span {
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}
.footer span:last-child {
  white-space: nowrap;
}
.footer a {
  font-weight: 500;
  color: inherit;
  box-shadow: var(--link-underline-shadow);
}
.footer a:hover {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
}
.top-link:hover {
  color: var(--link-hover-color);
}
.top-link {
  visibility: hidden;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  background: var(--tertiary-bg);
  width: 42px;
  height: 42px;
  padding: 12px;
  border-radius: 64px;
  transition: visibility 0.5s, opacity 0.8s linear;
  line-height: 1.5;
}
.top-link,
.top-link svg {
  filter: drop-shadow(0px 0px 0px var(--theme));
}
.top-link:focus,
#theme-toggle:focus {
  outline: 0;
}
/* InstantClick css */
#instantclick-bar {
  background: var(--tertiary-bg);
}
/* make zoom overlay and image higher than toc */
.medium-zoom-overlay {
  z-index: 2;
}
.medium-zoom-image--opened {
  z-index: 3;
}
.page-header,
.post-header {
  margin: 32px 0;
}
.post-title {
  font-size: 40px;
  margin: var(--content-gap) 0;
}
.post-description {
  margin: var(--content-gap) 0;
  color: var(--secondary);
  opacity: 0.8;
  padding-left: 0.5em;
  border-left: 3px solid var(--tertiary);
}
.post-meta,
.breadcrumbs {
  font-size: 15px;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs a {
  font-size: 16px;
}
.post-content {
  font-size: 16px;
  color: var(--content);
}
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 24px 0 16px;
}
.post-content h3 {
  margin: 32px 0 24px;
}
.post-content h1 {
  margin: 40px auto 32px;
  font-size: 40px;
}
.post-content h2 {
  margin: 40px auto 32px;
  font-size: 32px;
}
.post-content h3 {
  font-size: 24px;
}
.post-content h4 {
  font-size: 20px;
}
.post-content h5 {
  font-size: 14px;
}
.post-content h6 {
  font-size: 12px;
}
.post-content a {
  font-weight: 500;
  color: var(--primary);
  box-shadow: var(--link-underline-shadow);
  transition: var(--link-transition);
}
.post-content a:hover {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
}
.post-content a.anchor:hover {
  color: var(--primary);
  box-shadow: 0 2px 0 var(--secondary);
}
.post-content a code {
  margin: auto 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 var(--primary) inset;
}
.post-content a:hover code {
  box-shadow: 0 -1px 0 var(--link-hover-underline-color) inset, 0 1px 0 var(--link-hover-underline-color);
}
h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
  box-shadow: none;
  user-select: none;
  font-size: 0.8em;
  position: relative;
  top: -2px;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  color: var(--secondary);
  margin-inline-start: 8px;
  font-weight: 500;
  display: inline-flex;
}
.post-content del {
  text-decoration: none;
  background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50% 1px repeat-x;
}
.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
  margin-bottom: var(--content-gap);
}
.post-content ol,
.post-content ul {
  padding-inline-start: 20px;
}
.post-content li > ol,
.post-content li > ul {
  margin-bottom: 0;
}
.post-content li {
  margin-top: 5px;
}
.post-content li p {
  margin-bottom: 0;
}
.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.post-content dt {
  width: 25%;
  font-weight: 700;
}
.post-content dd {
  width: 75%;
  margin-inline-start: 0;
  padding-inline-start: 10px;
}
.post-content dd ~ dd,
.post-content dt ~ dt {
  margin-top: 10px;
}
.post-content table {
  margin-bottom: 32px;
}
.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
  min-width: 80px;
  padding: 12px 8px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border);
}
.post-content table th {
  font-size: 14px;
  text-align: start;
}
.post-content table:not(.highlighttable) td code:only-child {
  margin: auto 0;
}
.post-content .highlight table {
  border-radius: var(--radius);
}
.post-content .highlight:not(table) {
  margin: var(--content-gap) auto;
  border-radius: var(--radius);
}
.post-content li > .highlight {
  margin-inline-end: 0;
}
.post-content ul pre {
  margin-inline-start: calc(var(--gap) * -2);
}
.post-content .highlight pre {
  margin: 0;
}
.post-content .highlighttable {
  table-layout: fixed;
}
.post-content .highlighttable td:first-child {
  width: 40px;
}
.post-content .highlighttable td .linenodiv {
  padding-inline-end: 0 !important;
}
.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
  margin-bottom: 0;
}
.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
  display: none;
}
/* code block */
.post-content .chroma {
  border-radius: var(--radius);
}
/* TODO refactor this shit */
.post-content code {
  /* inline code */
  background-color: var(--code-bg);
  margin: 0 3px;
  padding: 4px 5px;
  border-radius: 3px;
  font-size: 0.95em;
}
.post-content pre code {
  /* reset inline code */
  display: block;
  margin: auto 0;
  padding: 15px;
  overflow-x: auto;
  border-radius: var(--radius);
  word-break: break-all;
}
.post-content .chroma code {
  background-color: inherit;
}
.post-content blockquote {
  margin: 20px 0;
  padding: 0 14px;
  border-inline-start: 3px solid var(--primary);
}
.post-content sup {
  line-height: 1;
}
.post-content hr {
  margin: 30px 0;
  height: 2px;
  background: var(--tertiary-bg);
  border-top: 0;
  border-bottom: 0;
}
.post-content iframe {
  max-width: 100%;
}
.post-content img {
  border-radius: 4px;
  margin: 1rem auto;
}
.post-content img[src*="#center"] {
  margin: 1rem auto;
}
.post-content video {
  width: 100%;
}
.post-content figure.align-center {
  text-align: center;
}
.post-content figure > figcaption {
  color: var(--primary);
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0 16px;
}
.post-content figure > figcaption > p {
  color: var(--secondary);
  font-size: 14px;
  font-weight: normal;
}
.toc {
  margin: 0 2px 40px 2px;
  border: 1px solid var(--border);
  background: var(--code-bg);
  border-radius: var(--radius);
  padding: 0.4em 0;
}
.toc.side {
  font-size: 0.8em;
}
@media screen and (min-width: 1350px) {
  .toc.side {
    position: fixed;
    top: 118px;
    z-index: 1;
    max-height: calc(100% - 150px);
    overflow: auto;
  }
  .toc.side::-webkit-scrollbar-thumb {
    border: 5px solid var(--code-bg);
  }
  .toc.side.left {
    left: 15px;
    width: 250px;
  }
  .toc.side.right {
    right: 15px;
    width: 265px;
  }
}
.toc details summary {
  cursor: pointer;
  margin-inline-start: 15px;
}
.toc .details {
  display: inline;
  font-weight: 500;
}
.toc .inner {
  padding: 10px 15px 5px 35px;
}
.toc ul {
  margin: 0;
  padding: 0;
}
.toc li ul {
  margin-inline-start: 20px;
}
.toc li a {
  line-height: 1.5em;
  padding: 3px 5px;
  border-radius: 5px;
  display: block;
}
.toc li a.active {
  background-color: var(--link-background-color);
}
.toc li a:hover {
  text-decoration: underline;
}
.toc summary:focus {
  outline: 0;
}
.post-footer {
  margin-top: calc(var(--content-gap) * 1.5);
}
.share-buttons {
  margin: var(--content-gap) 0;
  padding-inline-start: var(--radius);
  display: flex;
  justify-content: center;
  overflow-x: auto;
}
.share-buttons a:not(:last-of-type) {
  margin-inline-end: 12px;
}
.share-buttons a svg {
  height: 30px;
  width: 30px;
  fill: currentColor;
  transition: transform 0.1s;
}
.share-buttons svg:active {
  transform: scale(0.96);
}
.post-content :not(table) ::-webkit-scrollbar-thumb {
  border: 2px solid var(--code-bg);
  background: #717175;
}
.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
  background: #a3a3a5;
}
.gist table::-webkit-scrollbar-thumb {
  border: 2px solid #ffffff;
  background: #adadad;
}
.gist table::-webkit-scrollbar-thumb:hover {
  background: #707070;
}
.post-content table::-webkit-scrollbar-thumb {
  border-width: 2px;
}
.paginav {
  margin: var(--content-gap) 0;
  display: flex;
  line-height: 30px;
  border-radius: var(--radius);
}
.paginav svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}
.paginav .title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
  color: var(--secondary);
}
.paginav .prev,
.paginav .next {
  width: 50%;
}
.paginav a span {
  transition: var(--link-transition);
}
.paginav a:hover span:not(.title) {
  box-shadow: 0 1px 0;
}
.paginav .next {
  margin-inline-start: auto;
  text-align: right;
}
[dir="rtl"] .paginav .next {
  text-align: left;
}
.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.comments-divider {
  margin: calc(var(--content-gap) * 1) 0;
  height: 1px;
  background-color: var(--secondary);
}
.social-links {
  margin: calc(var(--content-gap) * 2) 0;
}
.social-quote {
  padding: 1em;
}
.social-quote.tweet {
  background-color: var(--code-bg);
  border-left: 3px solid var(--twitter-color);
}
.social-quote.tweet svg {
  color: var(--twitter-color);
}
.social-quote .title {
  margin-bottom: 0.5em;
  font-weight: 500;
}
.social-quote .title svg {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}
.social-quote .title span {
  margin-inline-start: 0.5em;
}
.social-quote p > a {
  margin-inline-start: 0.5em;
}
.social-quote blockquote {
  font-size: 0.8em;
  /* reset for .post-content blockquote */
  margin: 0 0 0 0;
  padding: 0;
  border-inline-start: 0;
}
.social-quote blockquote a {
  font-weight: 500;
  color: var(--primary);
  box-shadow: var(--link-underline-shadow);
  transition: var(--link-transition);
}
.social-quote blockquote > a:hover {
  color: var(--twitter-color);
  box-shadow: 0 2px 0 var(--twitter-color);
}
.disqus-container {
  margin: calc(var(--content-gap) * 2) 0;
  background-color: var(--code-bg);
  border-radius: 10px;
  padding: 1.5em;
  box-shadow: var(--shadow-elevation-low);
}
.image-size-control > img {
  width: inherit;
  height: inherit;
}
.archive-posts {
  width: 100%;
  font-size: 16px;
}
.archive-year {
  margin-top: 40px;
}
.archive-year:not(:last-of-type) {
  border-bottom: 2px solid var(--border);
}
.archive-month {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
.archive-month-header {
  margin: 25px 0;
  width: 200px;
}
.archive-month:not(:last-of-type) {
  border-bottom: 1px solid var(--border);
}
.archive-entry {
  position: relative;
  padding: 5px;
  margin: 10px 0;
}
.archive-entry-title {
  margin: 5px 0;
  font-weight: 600;
}
.archive-entry:hover .archive-entry-title {
  color: var(--link-hover-color);
}
.archive-entry-title span {
  vertical-align: middle;
}
.archive-count,
.archive-meta {
  color: var(--secondary);
  font-size: 14px;
}
.terms-tags li {
  display: inline-block;
  margin: 10px;
  font-weight: 500;
}
.terms-tags a {
  display: block;
  padding: 3px 10px;
  background: var(--tertiary-bg);
  border-radius: 6px;
  transition: transform 0.1s;
}
.terms-tags a:active {
  background: var(--tertiary-bg);
  transform: scale(0.96);
}
