@import url('https://rsms.me/inter/inter.css');
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color--primarytext);
  background-color: var(--color--background);
}
@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', Inter, Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
a:not([class]) {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  color: #0f61ff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border-color: rgba(15, 97, 255, 0.1);
}
a:not([class]):hover {
  border-color: rgba(15, 97, 255, 0.5);
}
@media (prefers-color-scheme: dark) {
  a:not([class]) {
    color: #81a5f8;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #999;
  }
}
.yellow-btn {
  box-shadow: rgba(255, 214, 2, 0.6) 0px 6px 12px 0px;
}
.yellow-btn:hover {
  box-shadow: rgba(255, 214, 2, 0.6) 0px 2px 4px 0px;
}
@media (prefers-color-scheme: dark) {
  .yellow-btn {
    box-shadow: none;
  }
}
.wechat img {
  display: none;
}
.wechat:hover img {
  display: inline-block;
}
.s3-round {
  border-radius: 100px;
}
.s3-hover:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
.s3-transition {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@-webkit-keyframes s3-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes s3-opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.1;
  }
}
.s3-dotted {
  border-radius: 100px;
}
.s3-dotted:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
.s3-dashed {
  border-radius: 100px;
}
.s3-dashed:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
/*------------------ GENERAL -------------------- */
* {
  margin: 0;
  padding: 0;
}
:root {
  --color--title: rgba(0, 0, 0, 0.85);
  --color--primarytext: rgba(0, 0, 0, 0.65);
  --color--secondarytext: rgba(0, 0, 0, 0.45);
  --color--disable: rgba(0, 0, 0, 0.25);
  --color--border: rgba(0, 0, 0, 0.15);
  --color--dividers: rgba(0, 0, 0, 0.09);
  --color--background: rgba(0, 0, 0, 0.04);
  --color--tableheader: rgba(0, 0, 0, 0.02);
  --color--title--dark: rgba(255, 255, 255, 0.85);
  --color--primarytext--dark: rgba(255, 255, 255, 0.65);
  --color--secondarytext--dark: rgba(255, 255, 255, 0.45);
  --color--disable--dark: rgba(255, 255, 255, 0.25);
  --color--border--dark: rgba(255, 255, 255, 0.15);
  --color--dividers--dark: rgba(255, 255, 255, 0.09);
  --color--background--dark: rgba(255, 255, 255, 0.04);
  --color--tableheader--dark: rgba(255, 255, 255, 0.02);
  --box-shadow-normal: 30px 30px 64px rgba(0, 0, 0, 0.03);
  --box-shadow-hover: 30px 30px 64px rgba(0, 0, 0, 0.05);
  --button-shadow-color-normal: 14px 14px 36px rgba(85, 85, 85, 0.1);
  --button-shadow-color-hover: 14px 14px 36px rgba(85, 85, 85, 0.3);
}
.s-link {
  height: 24px;
  width: 24px;
  margin: 6px 0;
  color: #666;
  border-radius: 100px;
  /* background-color: #6C63FF; */
  text-align: center;
}
/* 滚动条 */
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #9f9f9f;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #F8F8F5;
}
/* END 滚动条 */
/* headroom */
.headroom {
  will-change: transform;
  transition: transform 0.5 linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--top {
  transition: 0.5s;
}
.headroom--not-top {
  transition: 0.5s;
  background-color: var(--color--title--dark);
  box-shadow: var(--box-shadow-normal);
}
/* END headroom */
/* Header */
header {
  width: 100%;
  position: fixed;
  z-index: 10;
}
nav {
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0);
}
nav .logo {
  vertical-align: middle;
}
nav .menu {
  margin: 0 8px;
  color: var(--color--primarytext);
}
nav .menu:hover {
  color: #6D64FF;
}
/* End Header */
/* Section */
.content {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 100px;
}
section .section-title {
  font-size: 32px;
  font-weight: 800;
  color: var(--color--title);
  padding-bottom: 20px;
  text-align: start;
  margin-top: 0;
}
section .section-title::after {
  content: '';
  display: block;
  margin: 0.2em;
  width: 100px;
  height: 2px;
  border-bottom: 5px solid #6D64FF;
}
section .section-subtitle {
  padding-bottom: 24px;
  color: #666;
}
/* End Section */
/* Footer */
footer {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
/* End Footer */
/* back to top */
#backtop {
  width: 32px;
  height: 32px;
  display: none;
  /* 默认隐藏 */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #F8F8F5;
  /* 设置背景颜色，你可以设置自己想要的颜色或图片 */
  color: white;
  /* 文本颜色 */
  cursor: pointer;
  border-radius: 100px;
  /* 圆角 */
}
#backtop:hover {
  background-color: #6C63FF;
}
/* end back to top */
/*------------------ End GENERAL -------------------- */
/*------------------ Page-Home -------------------- */
/* home Header */
.site-title {
  color: var(--color--title);
}
/* End home Header */
/* section about */
.about {
  display: flex;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: var(--box-shadow-normal);
  background-color: #fff;
}
.about-me:hover {
  box-shadow: var(--box-shadow-hover);
}
.about-me .avatar {
  height: 150px;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
  padding: 20px 20px;
}
.about-me .myinfo {
  padding: 10px 20px;
  text-align: center;
}
/* end section about */
/* swiper */
.swiper-container {
  height: 500px;
}
.swiper-container .swiper-wrapper {
  padding-top: 20px;
}
/* end swiper */
/*------------------ End Page-Home -------------------- */
/*------------------ Page-Gallery -------------------- */
.gallery-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: start;
}
.gallery-box .gallery-item .pic {
  padding: 6px 6px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: var(--box-shadow-normal);
}
.gallery-box .gallery-item .pic:hover {
  box-shadow: var(--box-shadow-hover);
}
.gallery-box .gallery-item .pic .pic-title {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
}
.gallery-box .gallery-item .pic .pic-subtitle {
  margin-bottom: 5px;
  text-align: center;
  font-size: 10px;
}
/*------------------ End Page-Gallery -------------------- */
/*------------------ Page-Blog -------------------- */
.blog-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.blog-box .blog-item .blog-card-post {
  padding: 20px 30px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: var(--box-shadow-normal);
}
.blog-box .blog-item .blog-card {
  padding: 6px 6px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: var(--box-shadow-normal);
}
.blog-box .blog-item .blog-card:hover {
  box-shadow: var(--box-shadow-hover);
}
.blog-box .blog-item .blog-card .card-pic {
  height: 300px;
  overflow: hidden;
}
.blog-box .blog-item .blog-card .card-pic img {
  width: 100%;
}
.blog-box .blog-item .blog-card .card-info {
  padding: 20px 30px;
}
.blog-box .blog-item .blog-card .card-info .card-time {
  font-size: 12px;
  color: var(--color--secondarytext);
  margin-bottom: 5px;
}
.blog-box .blog-item .blog-card .card-info .card-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color--primarytext);
  margin-bottom: 10px;
}
.blog-box .blog-item .blog-card .card-info .card-subtitle {
  margin-bottom: 10px;
  color: var(--color--secondarytext);
}
.blog-box .blog-item .blog-card .author {
  text-align: center;
}
.blog-box .blog-item .blog-card .author .avatar {
  height: 100px;
  width: 100px;
  margin: 20px auto;
}
.blog-box .blog-item .blog-card .author .author-info {
  margin-top: 10px;
  margin-bottom: 20px;
}
.blog-box .blog-item .blog-card .author .author-info .author-info-title {
  color: var(--color--primarytext);
  margin-bottom: 0;
}
.blog-box .blog-item .blog-card .author .author-info .author-info-subtitle {
  color: var(--color--secondarytext);
}
.blog-box .blog-item .blog-card .author .author-info span i {
  margin: 0 5px;
}
/*------------------ End Page-Blog -------------------- */
/*------------------ Page-Blog/Post -------------------- */
.blog-box .blog-item .blog-card .card-info a .card-title:hover {
  color: #6D64FF;
}
.blog-box .blog-item .blog-card .card-info #write {
  padding-left: 0;
  padding-right: 0;
}
/*------------------ End Page-Blog/Post -------------------- */
/* -----------------------------------------------------------------------------------
-----------------------   响应式    -------------------------------------------------
------------------------------------------------------------------------------------ */
@media screen and (max-width: 767px) {
  body {
    overflow: hidden;
  }
  /*------------------ Page-Home -------------------- */
  .about {
    flex-direction: column;
  }
  .about-me {
    margin: 10px 10px;
  }
  .swiper-container {
    height: 100%;
    width: 100%;
  }
  /*------------------ Page-Gallery -------------------- */
  .gallery-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  /*------------------ Page-Blog -------------------- */
  .blog-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .blog-box .blog-item .blog-card .card-pic {
    height: fit-content;
  }
  /*------------------ Page-Blog/Post -------------------- */
  .blog-box .blog-item .blog-card .card-info {
    padding: 20px 10px;
  }
}

      body {
        font-family: Inter, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      @supports (font-variation-settings: normal) {
        body {
          font-family: Inter, 'Inter var', Inter, Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      }
    